body {
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #333;
}

p {
  font-size: large;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 100px;
  padding: 4px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.875);
  color: white;
  text-align: center;
  border-radius: 0.2em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

footer {
  margin-top: 24px;
}
